<!-- <!DOCTYPE html>
<html ng-app="UnnamedApp">
<head>
  <title>Animations App</title>
  <link rel="stylesheet" media="screen" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="UnnamedCtrl">
<h1>fhaddfhdh</h1>
  <div class="container">
     <button class="btn btn-primary" ng-click="addItem()">Add Item</button>
     <button class="btn btn-primary" ng-click="removeItem()">Remove Item</button>
     <button class="btn btn-primary" ng-click="toggleContainer()">Toggle Items</button>
  </div>
  <div class="container" ng-show="showContainer">
    <div class="well" ng-repeat="item in items track by $index">{{ item }}</div>
  </div>
</body>
</html> -->